@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
}
nav {
  background: steelblue;
  height: 130px;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.links ul{
    display: inline-flex;
}
.links ul li{
    margin-left: 20px;
}
.links .drop-down{
   
    background: teal;
    width: max-content;
    padding: 10px 10px 15px 5px;
    line-height: 25px;
    position: absolute;
    top: 45px;
    display: block;
}