@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
    list-style: none;  
}
nav{
    position: fixed;
    background: #242526;
    width: 100%;
    z-index: 999;
    height: 80px;
    
}
.btn{
    color: #ffff;
}
nav .wrapper{   
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.nav-links{
    display: inline-flex;
}
.nav-links li a{
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-links li a:hover{
    background: #3A3B3C;
}
.nav-links .drop-menu{
    background: #242526;
    width: 180px;
    line-height: 25px;
    position: absolute;
    top: 45px;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box
{
    opacity: 1;
    visibility: visible;
    transition: all 0.3 ease;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding-left: 15px;
}

.mega-box{
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    padding: 10px 30px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

}
.mega-box .content{
    background: #242526;
    padding: 25px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.content .row{
    width: calc(25%-30px);
    line-height: 45px;
}

header{
    color: #fff;
    font-size: 20px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.nav-links .mobile-item{
    display: none;
}
.cancel{
    position: absolute;
    top: 0px;
    right: 20px;
    
}
@media (max-width:970px){
    .wrapper .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #242526;
        display: block;
        top: 0;
        left: -100%;     
        max-width: 400px;
        overflow-y: auto;
        transition: all 0.5s ease;
    }
    .nav-links li {
        margin: 15px 10px;
    }
    #menu-btn:checked ~ .nav-links{
        left: 0;
    }
    #menu-btn:checked ~ .btn.menu-btn{
       display: none;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
   
    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        width: 100%;
        padding-left: 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.8s ease;
    }
    .nav-links .drop-menu li{
        margin: 10px 0;
    }
    .nav-links .drop-menu li a{
        font-size: 18px;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        font-size: 24px;
        color: #f2f2f2;
        font-weight: 500px;
        padding-left: 20px;
        cursor: pointer;
    }
   
    .mega-box{
        position: static;
        top: 100px;
        width: 100%;
        left: 0;
        padding: 10px 30px;    
        opacity: 1;
        visibility: visible;        
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    
    }
    .mega-box .content{
        background: #242526;
        padding: 20px 20px 0 20px;
        width: 100%;
        flex-direction: column;
    
    }
    .mega-box .content .row{
        width: 100%;
    }
    #showDrop:checked ~ .drop-menu,    
    #showMega:checked ~ .mega-box{
        max-height: 100%;
    }
    
    .row .mega-links li{
        margin: 0;
    }
    
}

.wrapper input{
    display: none;
}

.menu-btn{
    color: #fff;
    font-size: 30px;
    z-index: 233434;
} 
.logo{
    font-size: 24px;
    color: #ffff;
}

@media (min-width:975px){
.menu-btn{
    visibility: hidden;
}
}