@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 10px 30px;
}

.modal {
  position: absolute;
  left: 50%;
  top: -100%;
  box-shadow: 3px 3px 1px 2px #48d1cc;
  transform: translate(-50%,-50%);
  background: #d6e8ec;
  padding: 15px  25px;
  border-radius: 10px;
  transition: top 1.0s ease-in;

}

.top{
    top: 50%;
}
.modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cancel-modal{
background: #fff;
padding: 3px 5px;
border-radius: 5px;
color: steelblue;
font-weight: 500;
}
.cancel-modal:hover{
    cursor: pointer;
}

