@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
}

.container{
    margin: 0 auto;
    padding: 10px 30px;
    max-width: 1250px;
}

.carousel{
    width: 700px;
    height: 500px;
    border: 1px solid steelblue;
    display: flex;
    overflow: hidden;

    

}

#image-box{
    width: 700px;
    height: 500px;

    border: 1px solid black;
    /* transform: translateX(-2100px); */
}
img{
    width: 700px;
    height:500px;
}
.carousel-btns{
    width: 700px;
    display: flex;
    justify-content: space-between;
}